{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row mt-3">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <p>Are you sure you want to delete {{item}}</p>
      <form method="POST" action="">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-sm btn-danger btn-block" value="Yes">
      </form>
      <a href="{% url 'list-items' %}" class="btn btn-secondary btn-sm btn-block mt-2">Cancel</a>
      </div>
    </div>
  </div>
{% endblock %}